In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import itertools as itt
from collections import Counter

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1460,tt0454945,20000000,33889159,She's the Man,Amanda Bynes|Channing Tatum|Laura Ramsey|Vinni...,Andy Fickman,"If you wanna chase your dream, sometimes you g...",Viola Johnson is in a real jam. Complications ...,105,Comedy|Drama|Family|Romance,DreamWorks SKG|Lakeshore Entertainment,3/17/2006,6.3,2006
1639,tt0335345,30000000,611899420,The Passion of the Christ,Jim Caviezel|Maia Morgenstern|Christo Jivkov|F...,Mel Gibson,"By his wounds, we were healed.","""The Passion of the Christ"" is a film about th...",127,Drama,Icon Productions,2/25/2004,6.8,2004
226,tt2247476,15000000,30127963,When the Game Stands Tall,Jim Caviezel|Michael Chiklis|Laura Dern|Clancy...,Thomas Carter,"Its Not How Hard You Fall, Its How You Get Bac...",A young coach turns a losing high school footb...,115,Drama,Mandalay Pictures|Affirm Films,8/22/2014,6.2,2014
390,tt1403865,38000000,252276927,True Grit,Jeff Bridges|Hailee Steinfeld|Matt Damon|Josh ...,Ethan Coen|Joel Coen,Punishment Comes One Way or Another.,Following the murder of her father by hired ha...,110,Drama|Adventure|Western,Paramount Pictures|Scott Rudin Productions|Mik...,12/22/2010,7.0,2010
1393,tt0391304,30000000,42886719,A Lot Like Love,Ashton Kutcher|Amanda Peet|Aimee Garcia|Taryn ...,Nigel Cole,There's nothing better than a great romance......,"On a flight from Los Angeles to New York, Oliv...",107,Comedy,Mile High Productions|Kevin Messick Production...,4/22/2005,6.5,2005

In [4]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [36]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:
data['profit'] = data['revenue'] - data['budget']
data['release_date'] = pd.to_datetime(data['release_date'])
data['release_month'] = data.release_date.dt.month

def stringtolist(string):
    result = string.str.split('|')
    return result

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [19]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '723. Pirates of the Caribbean: On Stranger Tides (tt1298650)'
answers['2'] = '1157. Gods and Generals (tt0279111)'
answers['3'] = '768. Winnie the Pooh (tt1449283)'
answers['4'] = '~110 minutes'
answers['5'] = '107 minutes'
answers['6'] = '239. Avatar (tt0499549)'
answers['7'] = '1245. The Lone Ranger (tt1210819)'
answers['8'] = '1478'
answers['9'] = '599. The Dark Knight (tt0468569)'
answers['10'] = '1245. The Lone Ranger (tt1210819)'
answers['11'] = 'Drama'
answers['12'] = 'Drama'
answers['13'] = 'Peter Jackson'
answers['14'] = 'Robert Rodriguez'
answers['15'] = 'Chris Hemsworth'
answers['16'] = 'Matt Damon'
answers['17'] = 'Action'
answers['18'] = '925. K-19: The Widowmaker (tt0267626 )'
answers['19'] = '2015'
answers['20'] = '2014'
answers['21'] = 'September'
answers['22'] = '450'
answers['23'] = 'Peter Jackson'
answers['24'] = 'Four By Two Productions'
answers['25'] = 'Midnight Picture Show' 
answers['26'] = 'Inside Out, 12 Years a Slave, The Dark Knight'
answers['27'] = 'Daniel Radcliffe, Rupert Grint'

In [4]:
# тут пишем ваш код для решения данного вопроса:
data[data['budget'] == data['budget'].max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,2011-05-11,6.3,2011,641683000,5

ВАРИАНТ 2

In [0]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [0]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '1157. Gods and Generals (tt0279111)'

In [5]:
data[data['runtime'] == data['runtime'].max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2003-02-21,5.8,2003,-43076064,2

# 3. Какой из фильмов самый короткий (в минутах)?

In [6]:
data[data['runtime'] == data['runtime'].min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,2011-04-13,6.8,2011,-15540000,4

# 4. Какова средняя длительность фильмов?

In [7]:
data.runtime.mean()

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [8]:
data.runtime.median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [9]:
# лучше код получения столбца profit вынести в Предобработку что в начале
data[data['profit'] == data['profit'].max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,2009-12-10,7.1,2009,2544505847,12

# 7. Какой фильм самый убыточный?

In [10]:
data[data['profit'] == data['profit'].min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,2013-07-03,6.0,2013,-165710090,7

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [11]:
good_movies = data[data['profit'] > 0]
good_movies['imdb_id'].count()

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [12]:
movies2008 = data[data['release_year'] == 2008]
movies2008[movies2008.revenue == movies2008.revenue.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,2008-07-16,8.1,2008,816921825,7

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [13]:
time_period = data.query('release_year in [2012, 2013, 2014]')
time_period[time_period.profit == time_period.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,2013-07-03,6.0,2013,-165710090,7

# 11. Какого жанра фильмов больше всего?

In [52]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
genre_list = []
genre_count = {}
for entry in data['genres']:
    genres = entry.split('|')
    for genre in genres:
        genre_list.append(genre)
for genre in genre_list:
    genre_count[genre_list.count(genre)] = genre
genre_count[max(genre_count)]

'Drama'

ВАРИАНТ 2

In [14]:
data['genrelist'] = stringtolist(data['genres'])
genrelist = data['genrelist'].sum()
Counter(genrelist).most_common(1)

[('Drama', 782)]

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [15]:
profitable_movies = data.query('profit > 0')
genre_list = []
genre_count = {}
for entry in profitable_movies['genres']:
    genres = entry.split('|')
    for genre in genres:
        genre_list.append(genre)
for genre in genre_list:
    genre_count[genre_list.count(genre)] = genre
genre_count[max(genre_count)]

'Drama'

In [16]:
profitable_movies = data.query('profit > 0')
profitable_movies['genrelist'] = stringtolist(data['genres'])
genrelist = profitable_movies['genrelist'].sum()
Counter(genrelist).most_common(1)

<ipython-input-16-2a29a073bfa4>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  profitable_movies['genrelist'] = stringtolist(data['genres'])

[('Drama', 560)]

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [17]:
revenue_by_director = {}
for director in data['director'].unique():
    revenue = data[data['director'] == director]['revenue'].sum()
    revenue_by_director[revenue] = director
revenue_by_director[max(revenue_by_director)]

'Peter Jackson'

In [18]:
display(data.groupby(['director'])['revenue'].sum().sort_values())

director
Simon Hunter            2033165
Keanu Reeves            2054941
Paul Schrader           2062066
Steven Shainberg        2281089
David MichÃ´d           2295423
                        ...
J.J. Abrams          3579169916
Michael Bay          3886938960
David Yates          4154295625
Christopher Nolan    4167548502
Peter Jackson        6490593685
Name: revenue, Length: 957, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [19]:
action_movies = data[data.genres.str.contains("Action", na=False)]
directorlist = stringtolist(action_movies['director']).sum()
Counter(directorlist).most_common(1)

[('Robert Rodriguez', 9)]

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [20]:
movies_2012 = data[data.release_year == 2012]
movies_2012['actors'] = stringtolist(data['cast'])
for i in range(0, len(movies_2012)):
    movie = movies_2012.iloc[i]
    for actor in movie['actors']:
        movies_2012 = movies_2012.append({'original_title':'workdata','revenue':movie['revenue'],'cast':actor}, ignore_index=True)
workdata = movies_2012[movies_2012.original_title == 'workdata']
workdata.groupby(['cast'])['revenue'].sum().sort_values(ascending=False)

<ipython-input-20-aa115ffaece7>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_2012['actors'] = stringtolist(data['cast'])

cast
Chris Hemsworth      2027450773
Denis Leary          1629460639
Anne Hathaway        1522851057
Chris Evans          1519557910
Robert Downey Jr.    1519557910
                        ...
Jason Bateman           3428048
Danny Huston            2106557
Sami Gayle              2106557
Josh Lucas              2106557
Nicolas Cage            2106557
Name: revenue, Length: 466, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [21]:
high_budget_movies = data[data.budget > data.budget.mean()]
high_budget_movies['actors'] = stringtolist(data['cast'])
for i in range(0, len(high_budget_movies)):
    movie = high_budget_movies.iloc[i]
    for actor in movie['actors']:
        high_budget_movies = high_budget_movies.append({'original_title':'workdata','control':1,'cast':actor}, ignore_index=True)
workdata = high_budget_movies[high_budget_movies.original_title == 'workdata']
Counter(workdata['cast']).most_common(1)

<ipython-input-21-a54cdd7548e2>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  high_budget_movies['actors'] = stringtolist(data['cast'])

[('Matt Damon', 18)]

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [23]:
nic_cage_movies = data[data.cast.str.contains("Nicolas Cage", na=False)]
genre_list = []
genre_count = {}
for entry in nic_cage_movies['genres']:
    genres = entry.split('|')
    for genre in genres:
        genre_list.append(genre)
for genre in genre_list:
    genre_count[genre_list.count(genre)] = genre
genre_count[max(genre_count)]

'Action'

In [22]:
nic_cage_movies = data[data.cast.str.contains("Nicolas Cage", na=False)]
nic_cage_movies['genrelist'] = stringtolist(nic_cage_movies['genres'])
genrelist = nic_cage_movies['genrelist'].sum()
Counter(genrelist).most_common(1)

<ipython-input-22-ba21c5d9f505>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nic_cage_movies['genrelist'] = stringtolist(nic_cage_movies['genres'])

[('Action', 17)]

# 18. Самый убыточный фильм от Paramount Pictures

In [24]:
paramount_movies = data[data.production_companies.str.contains("Paramount Pictures", na=False)]
paramount_movies[paramount_movies.profit == paramount_movies.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month,genrelist
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures|Intermedia Films|National G...,2002-07-19,6.0,2002,-64831034,7,"[Thriller, Drama, History]"

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [25]:
revenue_by_year = {}
for year in data['release_year'].unique():
    revenue = data[data['release_year'] == year]['revenue'].sum()
    revenue_by_year[revenue] = year
revenue_by_year[max(revenue_by_year)]

2015

In [26]:
movies_by_year = data.groupby(['release_year'])
sorted_movies = movies_by_year['revenue'].sum().sort_values(ascending=False)
print(sorted_movies.head(1).index[0])

2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [27]:
warner_bros_movies = data[data.production_companies.str.contains("Warner Bros", na=False)]
warner_bros_profit = {}
for year in warner_bros_movies['release_year'].unique():
    profit = warner_bros_movies[warner_bros_movies['release_year'] == year]['profit'].sum()
    warner_bros_profit[profit] = year
warner_bros_profit[max(warner_bros_profit)]

2014

In [28]:
wb_movies = data[data.production_companies.str.contains("Warner Bros", na=False)]
wb_movies_by_year = wb_movies.groupby(['release_year'])
sorted_movies = wb_movies_by_year['profit'].sum().sort_values(ascending=False)
print(sorted_movies.head(1).index[0])

2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [57]:
monthly_movies_count = data.groupby('release_month').count()
monthly_movies_count['imdb_id'].idxmax()

9

AttributeError: Can only use .str accessor with string values!

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [41]:
summer_movies = data.query('release_month in [6,7,8]')
len(summer_movies['imdb_id'].unique())

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [30]:
winter_movies = data.query('release_month in [12,1,2]')
answer = winter_movies.groupby(['director'])['imdb_id'].count().sort_values(ascending=False)
print(answer.head(1).index[0])

Peter Jackson

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [31]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import itertools as itt
from collections import Counter

data = pd.read_csv('movie_bd_v5.csv')

data['title_length'] = data['original_title'].map(lambda x: len(x))
companies = data['production_companies'].str.split('|').explode().unique()
sum_gen = pd.Series(dtype='float64', index=companies) 
for comp in companies:
    sum_gen[comp] = data['title_length'][data['production_companies'].map(lambda x: True if comp in x else False)].mean()
sum_gen.sort_values(ascending=False).head()

Four By Two Productions      83.0
Jim Henson Company, The      59.0
Dos Corazones                47.0
Museum Canada Productions    46.0
Polsky Films                 46.0
dtype: float64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [32]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import itertools as itt
from collections import Counter

data = pd.read_csv('movie_bd_v5.csv')

data['wordlist'] = data['overview'].str.split(' ')
data['wordlist'] = data['wordlist'].map(lambda x: len(x))
companies = data['production_companies'].str.split('|').explode().unique()
sum_gen = pd.Series(dtype='float64', index=companies) 
for comp in companies:
    sum_gen[comp] = data['wordlist'][data['production_companies'].map(lambda x: True if comp in x else False)].mean()
sum_gen.sort_values(ascending=False).head()

Midnight Picture Show               175.0
Heineken Branded Entertainment      161.0
Room 9 Entertainment                161.0
98 MPH Productions                  159.0
Brookwell-McNamara Entertainment    156.0
dtype: float64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [33]:
data[data.vote_average > np.percentile(data['vote_average'],99)]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,wordlist
9,tt2096673,175000000,853708609,Inside Out,Amy Poehler|Phyllis Smith|Richard Kind|Bill Ha...,Pete Docter,Meet the little voices inside your head.,"Growing up can be a bumpy road, and it's no ex...",94,Comedy|Animation|Family,Walt Disney Pictures|Pixar Animation Studios|W...,6/9/2015,8.0,2015,112
34,tt3170832,6000000,35401758,Room,Brie Larson|Jacob Tremblay|Joan Allen|Sean Bri...,Lenny Abrahamson,Love knows no boundaries,Jack is a young boy of 5 years old who has liv...,117,Drama|Thriller,Element Pictures|No Trace Camping|A24|Duperele...,10/16/2015,8.0,2015,49
118,tt0816692,165000000,621752480,Interstellar,Matthew McConaughey|Jessica Chastain|Anne Hath...,Christopher Nolan,Mankind was born on Earth. It was never meant ...,Interstellar chronicles the adventures of a gr...,169,Adventure|Drama|Science Fiction,Paramount Pictures|Legendary Pictures|Warner B...,11/5/2014,8.0,2014,35
119,tt2015381,170000000,773312399,Guardians of the Galaxy,Chris Pratt|Zoe Saldana|Dave Bautista|Vin Dies...,James Gunn,All heroes start somewhere.,"Light years from Earth, 26 years after being a...",121,Action|Science Fiction|Adventure,Marvel Studios|Moving Picture Company (MPC)|Bu...,7/30/2014,7.9,2014,28
125,tt2084970,14000000,233555708,The Imitation Game,Benedict Cumberbatch|Keira Knightley|Matthew G...,Morten Tyldum,The true enigma was the man who cracked the code.,Based on the real life story of legendary cryp...,113,History|Drama|Thriller|War,Black Bear Pictures|Bristol Automotive,11/14/2014,8.0,2014,46
128,tt2267998,61000000,369330363,Gone Girl,Ben Affleck|Rosamund Pike|Carrie Coon|Neil Pat...,David Fincher,You don't know what you've got 'til it's...,With his wife's disappearance having become th...,145,Mystery|Thriller|Drama,Twentieth Century Fox Film Corporation|Regency...,10/1/2014,7.9,2014,30
138,tt2278388,30000000,174600318,The Grand Budapest Hotel,Ralph Fiennes|Tony Revolori|F. Murray Abraham|...,Wes Anderson,A perfect holiday without leaving home.,The Grand Budapest Hotel tells of a legendary ...,99,Comedy|Drama,Fox Searchlight Pictures|Scott Rudin Productio...,2/26/2014,7.9,2014,66
370,tt1375666,160000000,825500000,Inception,Leonardo DiCaprio|Joseph Gordon-Levitt|Ellen P...,Christopher Nolan,Your mind is the scene of the crime.,"Cobb, a skilled thief who commits corporate es...",148,Action|Thriller|Science Fiction|Mystery|Adventure,Legendary Pictures|Warner Bros.|Syncopy,7/14/2010,7.9,2010,44
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,67
872,tt0253474,35000000,120072577,The Pianist,Adrien Brody|Thomas Kretschmann|Frank Finlay|M...,Roman Polanski,Music was his passion. Survival was his master...,The Pianist is a film adapted from the biograp...,150,Drama|War,Bac Films|Canal+Polska|Heritage Films|Studio B...,9/24/2002,7.9,2002,39
1081,tt0167260,94000000,1118888979,The Lord of the Rings: The Return of the King,Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...,Peter Jackson,The eye of the enemy is moving.,Aragorn is revealed as the heir to the ancient...,201,Adventure|Fantasy|Action,WingNut Films|New Line Cinema,12/1/2003,7.9,2003,45
1183,tt0993846,100000000,392000694,The Wolf of Wall Street,Leonardo DiCaprio|Jonah Hill|Margot Robbie|Kyl...,Martin Scorsese,EARN. SPEND. PARTY.,A New York stockbroker refuses to cooperate in...,180,Crime|Drama|Comedy,Paramount Pictures|Appian Way|EMJAG Production...,12/25/2013,7.9,2013,29
1191,tt2024544,20000000,187000000,12 Years a Slave,Chiwetel Ejiofor|Michael Fassbender|Lupita Nyo...,Steve McQueen,The extraordinary true story of Solomon Northup,"In the pre-Civil War United States, Solomon No...",134,Drama|History,Plan B Entertainment|Regency Enterprises|River...,10/18/2013,7.9,2013,61
1800,tt0209144,9000000,39723096,Memento,Guy Pearce|Carrie-Anne Moss|Joe Pantoliano|Mar...,Christopher Nolan,Some memories are best forgotten.,Suffering short-term memory loss after a head ...,113,Mystery|Thriller,Summit Entertainment|Newmarket Capital Group|T...,10/11/2000,7.9,2000,78

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [34]:
from collections import Counter
data = pd.read_csv('movie_bd_v5.csv')
data['cast'] = stringtolist(data['cast'])
actor_pairs = []
for i in range(0, len(data)):
    for item in itt.combinations(data['cast'][i], 2):
        actor_pairs.append(item)
Counter(actor_pairs).most_common(1)

[(('Daniel Radcliffe', 'Rupert Grint'), 8)]

ВАРИАНТ 2

# Submission

In [22]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers['11']

'Drama'

In [23]:
# и убедиться что ни чего не пропустил)
len(answers)

27